<div class="mb-big">
    <y2-logo class="about-logo"></y2-logo>
</div>

<div class="container-fluid">
    <div class="row about" ng-controller="AboutController as vm">
        <div class="col-md-12 col-lg-6 col-lg-push-6 vcenter about-text">
            <div class="center-block col-narrow">
                <p>2Y STUDIO is a graphic design workshop consisting of two creative minds,
                    Olga Loy and Emil Galazka. In our work we believe, that good communication and
                    serious teamwork is the key to meeting and perfecting our client’s demands. Therefore,
                    we seek strong relations with people who are conscious about aesthetics. During our
                    work, we propose solutions, but also we listen. We are open for a dialogue. And when it
                    comes to dialogue, you can communicate with us in English, German, Spanish, Polish
                    and Danish.
                </p>


                <p>We specialize in graphic tasks related to visual identity. Whether it is a logo, a website,
                    a business card or a flyer, we always take a holistic approach to the case and design
                    materials that ensure a coherent graphical appearance of your brand. Of course, we
                    evaluate every task individually, so don’t hesitate to contact us regarding anything
                    involving graphic design.</p>


                <p>We help our clients turn ideas into brands that truly work. The brand’s values and visual
                    language are always the key points for us to develop successful advertising that is
                    capable of reaching a diverse variety of target audiences. In our design process, we focus
                    on a no-nonsense approach and maintaining a clear message with an open mind. We
                    always endeavor to influence the brand in a way to leave a memorable impression. In
                    our aspiration to achieve the ideal balance and simplicity, we remove noise to add value.</p>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 col-lg-pull-6 col-tight about-img-section">
            <img ng-src="{{vm.aboutImg}}" alt="Out photo" class="img-responsive about-img"/>
            <!--<picture class="img-responsive">-->
                <!--<source srcset="img/1200/we.png" media="(min-width: 1200px)">-->
                <!--<img srcset="img/750/we.png" alt="Our photo" class="img-responsive about-img">-->
            <!--</picture>-->
        </div>
    </div>
</div>
<y2-footer class=" about-footer"></y2-footer>