<y2-logo></y2-logo>

<div class="contact-text">
    <div class="row mb-small">
        Olga Loy & Emil Galazka
    </div>
    <div class="row">
        <a href="tel:+4571614195" class="text-muted muted-link">
            +45 71 61 41 95
        </a>
    </div>
    <div class="row mb-medium">
        <a href="mailto:contact@2ystudio.eu?subject=Hi 2y Studio!&body=Hi!" class="text-muted muted-link">
            contact@2ystudio.eu
        </a>
    </div>
    <div class="row">
        <ul class="list-unstyled studio-text">
            <li><a href="https://www.facebook.com/2Ygraphicdesign" class="text-muted muted-link" target="_blank">facebook</a></li>
            <li><a href="https://www.behance.net/2y_studio" class="text-muted muted-link" target="_blank">behance</a></li>
            <li><a href="http://2ystudio.tumblr.com/" class="text-muted muted-link" target="_blank">tumblr</a></li>
        </ul>
    </div>
</div>

<y2-footer></y2-footer>