<footer class="footer">
    <div class="container-fluid">
        <ul class="nav nav-pills studio-text">
            <li role="presentation" ui-sref-active="active">
                <a href="#" ui-sref="work">WORK</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a href="#" ui-sref="about">ABOUT</a>
            </li>
            <li role="presentation" ui-sref-active="active">
                <a href="#" ui-sref="contact">CONTACT</a>
            </li>
        </ul>
    </div>
</footer>