<div class="row" ng-controller="WorkController as vm">
    <div ng-repeat="design in vm.designs">
        <div class="design"  ng-click="vm.pickDesign(design)">
            <div ng-if="design == vm.picked" class="picked-design-overlay">
                <div class="circle-wrap">
                    <a ng-href="{{design.fullProjectUrl}}" target="_blank">
                        <div>
                            <span>view full project</span>
                        </div>
                    </a>
                </div>
            </div>
            <div ng-class="{'picked-design': design == vm.picked}">
                <img ng-src="{{design.imgUrl}}" alt="{{design.alt}}" class="work-img img-responsive">
            </div>
        </div>
    </div>
</div>
<y2-footer></y2-footer>